main {
    width: 800px;
    height: 300px;
    border: 1px solid #0000ff;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center; */
}

div.original-pic {
    margin-left: 100px;
    width: 300px;
    height: 200px;
    background-image: url(../images/pot.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #000fff;
    position: relative;
}

div.mask {
    width: 60px;
    height: 40px;
    opacity: 0.5;
    border-radius: 2px;
    background-color: #ccc;
    position: absolute;
    /* 去掉mask 遮罩层的所有鼠标事件 */
    pointer-events: none;
    cursor: move;
    display: none;
}


/* 放大的图片  */

div.zoomin-pic {
    width: 300px;
    height: 200px;
    display: none;
    position: absolute;
    border: 1px solid #000fff;
    z-index: 100;
    background-image: url(../images/pot.png);
    background-repeat: no-repeat;
}